.main {
  background-color: #222226;
  height: 100vh;
  width: auto;
  position: relative;
}

.img_big {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.img_small {
  width: 20%;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  font-size: 4vh;
  font-weight: 600;
  color: #f4f4f4;
  position: relative;
  text-align: center;
  top: 60%;
  margin: 0;
  /* transform: translate(-50%, -50%); */
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
